[submodule "glfw"]
	path = CyberCore/Vendor/glfw
	url = https://github.com/glfw/glfw

[submodule "glm"]
	path = CyberCore/Vendor/glm
	url = https://github.com/g-truc/glm

[submodule "imgui"]
	path = CyberCore/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "SDL"]
	path = CyberCore/Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "Vulkan-Headers"]
	path = CyberCore/Vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
	branch = main
